<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		
		
		 <context:component-scan base-package = "com.niit.*" />
   
<http pattern="/resources/**" security="none"></http>

	<http>
		<intercept-url pattern="/admincontrol/**" access="hasAuthority('ADMIN')" />
		<intercept-url pattern="/cart**" access="hasAuthority('USER')" />
		<intercept-url pattern="/**" access="permitAll" />
		<form-login login-page="/login" />
		
		<csrf disabled="true"/>
	</http>
	
	<authentication-manager>
<authentication-provider>
	<jdbc-user-service data-source-ref="dataSource"
	users-by-username-query="select email,password,enabled from USER_DETAILS where email=?"
	authorities-by-username-query="select email,role from USER_DETAILS where email=?"/>
	
	
	
</authentication-provider>
</authentication-manager>
	



</beans:beans>